/* Make the page fill the screen */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Make the chart take full size of container box */
.card {
  width: 100%;
  height: 100%;
}

